@import url(assets/fonts/gambarino.css);
/**********
Variabls
**********/
:root {
  /* Colors */
  --dusty-olive: #73877b;
  --muted-teal: #839788;
  --silver: #bdbbb6;
  --soft-blush: #e5d1d0;
  --powder-petal: #f5e4d7;

  /*Typography*/
  --main-font: "Gambarino", sans-serif;
  --font-size-base: 1rem; /*16px*/
  --line-height-base: 1.6;
  --letter-spacing-base: 0.03em;

  /* Spacing */
  --spacing-xs: 0.25rem;
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;
  --spacing-xl: 4rem;

  --max-content-width: 1440px;
}
/**********
Typography
**********/
* {
  font-family: var(--main-font);
  font-size: var(--font-size-base);
  line-height: var(--line-height-base);
  letter-spacing: var(--letter-spacing-base);
}
h1 {
  font-size: 2.37rem;
  font-weight: 700;
  line-height: 1.55;
  letter-spacing: 0.02em;
  color: var(--muted-teal);
}
h2 {
  font-size: 1.78rem;
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: 0.02em;
  color: var(--muted-teal);
}
h3 {
  font-size: 1.54rem;
  font-weight: 600;
  line-height: 1.55;
  letter-spacing: 0.02em;
}
.display-lg {
  font-size: 3.16rem;
  font-weight: 800; /* maybe changing - must see on liveServer*/
  line-height: 1.5;
  letter-spacing: 0.11em;
}
.display-md {
  font-size: 2.73rem;
  font-weight: 800; /* maybe changing - must see on liveServer*/
  line-height: 1.55;
  letter-spacing: 0.015em;
}
.body-sm {
  font-size: 0.93rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.03em;
  color: var(--silver);
}
.caption {
  font-size: 0.81rem;
  font-weight: 400;
  line-height: 1.65;
  letter-spacing: 0.03em;
}
.caption-sm {
  font-size: 0.75rem;
  font-weight: 300;
  line-height: 1.65;
  letter-spacing: 0.03em;
}
/**********
Universal Styles
**********/
* {
  margin: 0;
  padding: 0;
}

/**********
Index
**********/
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  min-height: 100vh;
}
/* Header */

header {
  background: var(--silver);
  width: 100%;
  display: flex;
  justify-content: space-evenly;

  nav {
    display: flex;
    justify-content: space-between;
    width: var(--max-content-width);
    padding: var(--spacing-sm);

    section {
      display: flex;
      align-items: center;
      flex-grow: 1;
    }

    ul {
      list-style: none;
      display: flex;
      flex-grow: 1;
      align-items: center;
      justify-content: space-evenly;
      li {
        a {
          text-decoration: none;
          color: var(--powder-petal);

          &:hover {
            color: var(--dusty-olive);
            text-shadow: 0 0 10px (var(--powder-petal));
          }
        }
      }
    }
  }
}
main {
  background: var(--soft-blush);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;

  .hero-container {
    text-align: center;
    padding: var(--spacing-md);
  }
}
/* Foto Gallery */
.photo-container {
  max-width: var(--max-content-width);
  padding: var(--spacing-lg);
  .photo-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;

    .photo-short {
      width: auto;
      max-width: 250px;
      height: 180px;
      border-radius: 8px;
      object-fit: cover;
      animation: all 200ms ease-in-out;
      &:hover {
        transform: scale(1.02);
        box-shadow: 0px 0px 12px 0px var(--muted-teal);
      }
    }
  }
}

/* Dialog */
.photo-dialog {
  border: none;
  margin: auto;

  dialog {
    
    width: 75vw;
    max-height: 85vh;
    padding: var(--spacing-sm);
    border-radius: 1em;
    background: var(--dusty-olive);

    header {
      background: var(--dusty-olive);
      display: flex;
      justify-content: space-evenly;
      align-items: center;
    }

    main {
      background: var(--dusty-olive);

      img {
        max-width: 70vw;
        max-height: 75vh;
        border-radius: 1em;
        padding: var(--spacing-md);
      }
    }

    footer {
      background: var(--dusty-olive);
      justify-content: space-evenly;
    }
  }

  &::backdrop {
    opacity: 0;
    background: var(--dusty-olive);
  }
  &[open]::backdrop {
    opacity: 0.8;
    background: var(--dusty-olive);
  }
}
button{
  background: none;
  border: none;
  cursor: pointer;
  &:hover{
    transform: scale(1.1);
  }
}
/*Footer*/

footer {
  background-color: var(--silver);
  width: 100%;
  display: flex;
  justify-content: center;

  section {
    width: var(--max-content-width);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: var(--spacing-sm);

    figure {
      display: flex;
      align-items: center;

      figcaption {
        text-align: center;
      }
    }
  }
}

.footer-logo {
  background: url(./assets/img/logo.png);
  object-fit: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 84px;
  height: 84px;
}
